.container {
    height: 100vh;
    padding: 50px;
    background-color: lightgrey;
}

.box-1 {
    width: 100%;
    height: 25%;
    background: orange;
}

.box-2 {
    width: 100%;
    height: 25%;
    background: khaki;
}

.box-3 {
    width: 100%;
    height: 50%;
    background: cornflowerblue;
}


 